{% extends 'base.html' %}
{% load static %}

{% block title %}
  Delete Supplier Details.
{% endblock %}


{% block content %}
    <h1> Supplier Details. </h1>
    <h3> Are you sure want to delete this Supplier: {{ supplier.username }}! </h3>
    <p> Click Yes to Continues. </p>
    <form action="{% url 'delete-supplier' username=supplier.username %}" method="post">
        {% csrf_token %}
        <button type="submit"> Yes </button>
    </form>  <br>
    <a href="{% url 'list-supplier' %}"> Back</a>

{% endblock %}
