{% extends 'base.html' %}
{% load static %}

{% block title %}
  Product Details
{% endblock %}


{% block content %}
    <a href="{% url 'list-product' %}">Back</a>
    <h1> Product Information </h1>
    <hr>
    <h3> Product Name: {{ product.name }}</h3>
    <h3> Stock Number: {{ product.stock }}</h3>
    <h3> Product Price: {{ product.price }}</h3>
    <h3> Supplier Name: {{ product.supplier }}</h3> <br> 
    <a href="{% url 'update-product' name=product.name %}"> Update  </a> <br> <br>
    <a href="{% url 'delete-product' name=product.name %}"> Delete</a>
{% endblock %}