{% extends 'base.html' %}
{% load static %}

{% block title %}
  Supplier Details
{% endblock %}


{% block content %}
    <a href="{% url 'list-supplier' %}">Back</a>
    <h1> Supplier Information </h1>
    <hr>
    <h3> {{ product.username }}</h3>
    <h3> {{ supplier.address }}</h3>
    <h3> {{ supplier.email }}</h3>
    <h3> {{ supplier.phone }}</h3> <br> 
    <a href="{% url 'update-supplier' username=supplier.username %}"> Update Details </a> <br> <br>
    <a href="{% url 'delete-supplier' username=supplier.username %}"> Delete</a>
    
{% endblock %}